---
version: '3.7'
services:

  happy_predictions:
    restart: unless-stopped
    build:
      context: .
    ports:
      - 8443:8443
    env_file: .env
    environment:
      MONGO_URI: mongodb://happy_mongo:27017/happy_predictions
    volumes:
      - ./assets/:/code/assets:ro
    networks:
      - docker_network


  happy_mongo:
    restart: unless-stopped
    image: 'mongo:4'
    networks:
      - docker_network
    ports:
      - 27017:27017

networks:
  docker_network:
    driver: bridge
